.div header {
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
}
.div Button {
  display: inline;
  float: inline-end;
  animation: forwards;
}
.div span {
  font-size: 20px;
  text-align: center;
}

.div img {
  display: grid;
  margin: auto;
  margin-bottom: 10px;
}
.div img:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
